    <div class="card mat-card" id="first-card">
        <div id="profile-background"><img src='assets/fondo.jpg' alt="Imagen de Fondo"></div>
        <div id="info" style="padding: 30px">
          <div id="info-img">
            <img class="profile-image" src='assets/perfil.jpg' alt="imagen de perfil">
            <div class="btn btn-primary"><a href="#" class="btn-right"><i class="bi bi-pencil"></i></a></div>  
          </div>
          <div id="info-data">
            <div>
              <h1>Ramiro Acevedo</h1>
              <div id="info-company">Estudiante Argentina Programa</div>
              <div id="info-contact">
                <span>Gualeguaychú-Entre Ríos </span>
                <span><a href="#">Info de contacto</a></span>
              </div>
            </div>            
            <ul id="info-details">
              <li><a href="#">
                <img src="/assets/marca_gualeguaychu_AZUL.jpg">
                <h2>TITULO</h2>
              </a></li>
              <li><a href="#">
                <img src="\assets\marca_gualeguaychu_AZUL_logo.jpg">
                <h2>OTRO TITULO</h2>
              </a></li>
            </ul>
          </div>
          <div id="info-actions">
            <button type="button" class="btn btn-primary">Tengo interes en</button>
            <button type="button" class="btn btn-light">Añadir seccion</button>
            <button type="button" class="btn btn-light">Mas</button>
          </div>
        </div>
    </div>
